.todo {
  margin: 0 auto;
}
.todo__input__container {
  display: flex;
  margin: 0 auto;
  margin-top: 2rem;
  width: 500px;
}
.todo__input {
  font-size: 1rem;
  display: block;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: 2px solid #424cf9;
  font-weight: lighter;
  width: 300px;
  justify-self: center;
  align-self: center;
  font-family: Poppins;
}
.todo__input::placeholder {
  color: #3a3a3a30;
}

.todo__add__button {
  padding: 0.6rem 1rem;
  width: 150px;
  background-color: #424cf9;
  justify-self: center;
  align-self: center;
  margin-left: 1rem;
  font-size: 1rem;
  color: #fff;
  font-family: Poppins;
  border-radius: 5px;
}

.todos {
  font-family: Poppins;
  margin: 0 auto;
  margin-top: 2rem;
  text-align: center;
}

.todo__item {
  cursor: pointer;
}
